<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

        
        <a class="lect" href="/OimpLections/New_lections/lect_01.html"> 1. Циклы и условный оператор </a><br>
        <a class="lect" href="/OimpLections/New_lections/lect_02.html"> 2. Вектор, сортировка и лямбда-функция </a><br>
        <a class="lect" href="/OimpLections/New_lections/lect_03.html"> 3. Приоритет операторов, функции и передача параметров в функции </a><br>
        <a class="lect" href="/OimpLections/New_lections/lect_04.html"> 4. Структуры и контейнер map </a>v
        <a class="lect" href="/OimpLections/New_lections/lect_05.html"> 5. Контейнер unordered_map и стандартная библиотека </a><br>
        <a class="lect" href="/OimpLections/New_lections/lect_06.html"> 6. Алгоритмы стандартной библиотеки: for_each, remove_if, unique </a><br>
        <a class="lect" href="/OimpLections/New_lections/lect_07.html"> 7. Class, struct. Пишем class Date, class Matrix </a><br>
        <a class="lect" href="/OimpLections/New_lections/lect_08.html"> 8. Конструктор, деструктор, итераторы в class Date </a><br>
        <a class="lect" href="/OimpLections/New_lections/lect_09.html"> 9. Размер на стеке, наследование </a><br>
        <a class="lect" href="/OimpLections/New_lections/lect_10.html"> 10. Идиома RAII </a><br>
        
        <ul>
          <li> <a class="buttons back" href="/OimpLections"> Все курсы </a></li>
        </ul>
        
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <!--<p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p><!-->
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
